@charset utf-8 p {
    text-indent: 28px;
}


/*-------------------------------------
sigin.css
---------------------------------------*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*-------------------------------------
signup.css
---------------------------------------*/

.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signup .form-signup-heading,
.form-signup .checkbox {
    margin-bottom: 10px;
}

.form-signup .checkbox {
    font-weight: normal;
}

.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signup .form-control:focus {
    z-index: 2;
}

.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
}

.form-signup input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input[type="text"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input[type="userinfo"] {
    height: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*-------------------------------------
admin-add.html
---------------------------------------*/

.form-input {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-input:focus {
    z-index: 2;
}


/*-------------------------------------
Dashboard.css
---------------------------------------*/


/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.dashboard-sidebar {
    display: none;
}

@media (min-width: 768px) {
    .dashboard-sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*-------------------------------------

---------------------------------------*/

.sidebar {}

.side {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.inline-block {
    display: inline-block !important;
}

.inline {
    display: inline !important;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-right-40 {
    padding-right: 40px;
}
